<div *ngIf="!ordemDeServico" style="min-height: 100%;" class="d-flex align-items-center justify-content-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only"></span>
  </div>
</div>

<div class="container">
  <ng-container *ngIf="ordemDeServico">
    <div class="d-flex">
      <h4 class="pt-4">Visualizar ordem de serviço</h4>

      <button (click)="voltar()" class="btn btn-icon btn-light-secondary mt-4 ml-auto mr-2" data-toggle="tooltip" data-placement="bottom" title="Voltar">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
      </button>

      <button (click)="alterar()" class="btn btn-icon btn-light-secondary mt-4 mr-2" data-toggle="tooltip" data-placement="bottom" title="Editar">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
        </svg>
      </button>

      <button (click)="deletarOrdemDeServico()" class="btn btn-icon btn-light-secondary mt-4" data-toggle="tooltip" data-placement="bottom" title="Excluir">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
          <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
        </svg>
      </button>
    </div>

    <div class="card mt-4">
      <div class="card-body p-4">
        <div class="row">
          <dl class="col">
            <dt>Protocolo</dt>
            <dd>{{ ordemDeServico.id }}</dd>
          </dl>

          <dl class="col">
            <dt>Data do protocolo</dt>
            <dd>{{ ordemDeServico.dataProtocolo | date:'d/MM/yyyy' }}</dd>
          </dl>

          <dl class="col">
            <dt>Posto de coleta</dt>
            <dd>{{ ordemDeServico.postoColetaDescricao}}</dd>
          </dl>

          <dl class="col">
            <dt>Endereço do posto de coleta</dt>
            <dd>{{ ordemDeServico.postoColetaEndereco}}</dd>
          </dl>
        </div>

        <div class="row">
          <dl class="col">
            <dt>Paciênte</dt>
            <dd>{{ ordemDeServico.pacienteNome }}</dd>
          </dl>

          <dl class="col">
            <dt>Endereço do paciênte</dt>
            <dd>{{ ordemDeServico.pacienteEndereco }}</dd>
          </dl>

          <dl class="col">
            <dt>Médico</dt>
            <dd>{{ ordemDeServico.medicoNome}}</dd>
          </dl>

          <dl class="col">
            <dt>Especialidade do médico</dt>
            <dd>{{ ordemDeServico.medicoEspecialidade}}</dd>
          </dl>
        </div>

        <div class="row">
          <dl class="col-3">
            <dt>Data para retirada dos exames</dt>
            <dd>{{ ordemDeServico.dataRetiradaExames | date:'d/MM/yyyy' }}</dd>
          </dl>
        </div>

        <h6 class="mt-4 font-weight-bold">Exames</h6>

        <div class="table-responsive pt-3">
          <table class="table table-sm table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Preço</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let exame of ordemDeServico.exames">
                <td>{{ exame.exameDescricao }}</td>
                <td>{{ exame.examePreco | currency:'BRL':'symbol':'1.2-2':'pt' }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <p class="text-right mb-0"><span class="font-weight-bold">Valor total: </span> {{valorTotalExames() | currency:'BRL':'symbol':'1.2-2':'pt' }}</p>
      </div>
    </div>
  </ng-container>
</div>

<app-modal-alert></app-modal-alert>
